.container {
  max-width: 50rem;
  margin-inline: auto;
  padding-block-start: 1.25rem;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.popular {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;

  padding: 0;
  margin: 0;

  & li {
    list-style: none;
    display: inline-flex;
  }

  & a {
    display: inline-flex;

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 3px;
      border-radius: 10px;
    }
  }
}
