.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-block-end: 1.875rem;
}

.title {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  font-weight: bold;

  &:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.description {
  font-size: 1rem;
  color: '#4A5568';
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
